
@{
    ViewBag.Title = "add_category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Добавить категорию</h2>
<div>
    <h3>Форма добавления новой категории сертификации</h3>
    <form method="post" action="">
        <input type="hidden" name="id" />
        <table>
            <tr>
                <td><p>Название категории</p></td>
                <td><input type="text" name="name" required /> </td>
            </tr>
            <tr><td><input type="submit" value="Добавить" /> </td><td></td></tr>

        </table>
    </form>
</div>
