
@{
    ViewBag.Title = "AddDepartment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Добавление службы (департамента)</h2>

<div>
    <h3>Форма добавления новой службы</h3>
    <form method="post" action="">
        <input type="hidden" name="id" />
        <table>
            <tr>
                <td><p>Название службы (департамента)</p></td>
                <td><input type="text" name="name" /> </td>
            </tr>
            <tr><td><input type="submit" value="Добавить" /> </td><td></td></tr>

        </table>
    </form>
</div>