
@{
    ViewBag.Title = "category_management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Управление категориями сертификатов</h2>
<div>
    <p><a href="/Home/add_category">Добавить категорию сертификации</a></p>
    <table>
        <tr>
            <td><p>ID категории</p></td>
            <td><p>Название категории</p></td>
        </tr>

        @foreach (var b in ViewBag.categories)
            {
            <tr>
                <td><p>@b.id</p></td>
                <td><p>@b.name</p></td>
                <td><p><a href="/Home/edit_category/@b.id">Изменить</a></p></td>
                <td><p><a href="/Home/delete_category/@b.id">Удалить</a></p></td>
            </tr>
        }

    </table>
</div>
