
    <div>
        <h3>Службы и департаменты АО "МАА"</h3>
        <p><a href="/Home/AddDepartment">Добавить службу (департамент)</a></p>
        <p><a href="/Home/category_management">Управление категориями сертификатов</a></p>
        <table>
            <tr>
                <td><p>ID</p></td>
                <td><p>Название службы (департамента)</p></td>
                <td></td>
            </tr>
         
            @foreach (var b in ViewBag.departments)
            {
                <tr>
                    <td><p>@b.id</p></td>
                    <td><p>@b.name</p></td>
                    <td><p><a href="/Home/view_department/@b.id">Сотрудники</a></p></td>
                    <td><p><a href="/Home/edit_department/@b.id">Изменить название</a></p></td>
                    <td><p><a href="/Home/delete_department/@b.id">Удалить</a></p></td>
                </tr>
            }
            
        </table>
        <p>
            @Html.ActionLink("Регистрация нового пользователя", "Register", "Account", null, null)
        </p>
    </div>
